html, body {
    color: #1e272e;
}

a {
    text-decoration: underline;
}


.button {
    text-decoration: none;
    min-width: 200px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 1.85rem;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    position: relative;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 22px;
    padding: 8px 10px 7px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #fff;
    background-color: #218c74;
    box-shadow: 0 2px 0 #1e272e;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    
}

.button:hover {
    background-color: #196756;
}

.button:active {
    top: 2px;
}

.button--secondary {
    background-color: #dbdad9;
    color: #1e272e;
    font-weight: 500;

}

.button--secondary:hover {
    background-color: #bbbbbb;
}

a:hover {
    cursor: pointer;
}

input[type='checkbox'],
input[type='radio'] {
    --primary: #218c74;
}

input[type='checkbox']:focus,
input[type='radio']:focus {
    border-color: #218c74;
}

.zoom-in-out-box {
    animation: zoom-in-zoom-out 0.3s ease;
}

@keyframes zoom-in-zoom-out {
        0% {
            transform: scale(1, 1);
        }
        33% {
            transform: scale(1.2, 1.2);
        }
        66% {
            transform: scale(0.8, 0.8);
        }
        100% {
            transform: scale(1, 1);
        }
}