:root {

    --font-size: 1rem;

    --green: #05c46b;
    --green_darker: #00954f;
    --green_lighter: #00b25f;

    --gray: #e5e5e5;
    --blue: #19a9eb;
    --blue_darker: #0879ad;
}

html, body {
    color: #1e272e;
}

a {
    text-decoration: underline;
    color: var(--blue);
}

a:hover {
    color: var(--blue_darker);
    cursor: pointer;
    text-decoration-thickness: max(3px, .1875rem, .12em);
    text-decoration-skip-ink: none;
}

.button {
    border-radius: 12px;
    text-decoration: none;
    min-width: 180px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.5rem;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    position: relative;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 22px;
    padding: 8px 10px 7px;
    border: 2px solid transparent;
    color: #fff;
    background-color: var(--green);
    box-shadow: 0 5px 0 var(--green_darker);
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.button:hover {
    background-color: var(--green_lighter);
}

.button:active {
    top: 2px;
}

.button--secondary {
    background-color: #fff;
    box-shadow: 0 4px 0 var(--gray);
    border: 2px solid var(--gray);
    color: var(--blue);
}

.button--secondary:hover {
    background-color: #f0f0f0;
}


input[type='checkbox'],
input[type='radio'] {
    --primary: var(--green);
}

input[type='checkbox']:focus,
input[type='radio']:focus {
    border-color: var(--green);
}

.zoom-in-out-box {
    animation: zoom-in-zoom-out 0.3s ease;
}

@keyframes zoom-in-zoom-out {
        0% {
            transform: scale(1, 1);
        }
        33% {
            transform: scale(1.2, 1.2);
        }
        66% {
            transform: scale(0.8, 0.8);
        }
        100% {
            transform: scale(1, 1);
        }
}